@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&family=Texturina:wght@600&display=swap');

/*    
    font-family: 'Roboto', sans-serif;

    font-family: 'Texturina', serif;

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 100%;
    max-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.container {
    align-items: center;
    justify-content: space-between;
    display: flex;
    background: rgba(0,0,00.5);
    z-index: -11;
    height: 100vh;
    width: 100%;
}
/* link img */
.background {
    position: absolute;
    top: 30%;
    width: 35px;
    height: 25px;
    background: #fff;
    z-index: 1;
    left: 0;
    transform: translateY(-30%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.background a {
    color: #333;
    text-decoration: none;
}
.background a i {
    font-size: 13px;
    transition: all .3s ease-in-out;
}
.background a:hover i {
    color: #ffc107;
}
/* image */
.img img {
    width: 100%;
    padding: 20px;
}
.img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0px 0px, 38.02% 0px, 75.77% 100.15%, 0% 100%);
    background-color: #ffc107;
    z-index: -10;
}
.img {
    position: relative;
}
/* info */
.info {
    width: 60%;
    padding: 15px;
    color: #fff;
}
.info h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
.info h1 {
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Texturina', serif;
}
.info h1 span {
    color: #ffc107;
    font-family: 'Texturina', serif;
    font-style: italic;
}
.info p {
    line-height: 25px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    width: 500px;
}
.aboutMe {
    width: 200px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 30px;
    background: #ffc107;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin: 10px;
    transition: all .3s ease-in-out;
    box-shadow: 0px 0px 18px -5px #ffc107;
}
.aboutMe:hover {
    background: #ffad16;
}
/* menu */
.menu {
    overflow: hidden;
}
.mainList {
    list-style: none;
    margin-right: 40px;
}
.mainList li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffc107;
    border: 1px solid #ffc107;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.mainList li a:hover {
    border: 1px solid #ffc107;
    background: transparent;    
    box-shadow: 0px 0px 18px -5px #ffc107;
}
.mainList li a i {
    color: #fff;
    font-size: 18px;
}